# project_name/file_name

Shinobu_Mono/Library
Shinobu_Mono/Library/
Shinobu_Mono/*.csproj
Shinobu_Mono/Temp/
Shinobu_Mono/*.vs
Shinobu_Mono/*.obj
Shinobu_Mono/*.exe
Shinobu_Mono/*.pdb
Shinobu_Mono/*.user
Shinobu_Mono/*.aps
Shinobu_Mono/*.pch
Shinobu_Mono/*.vspscc
Shinobu_Mono/*_i.c
Shinobu_Mono/*_p.c
Shinobu_Mono/*.ncb
Shinobu_Mono/*.suo
Shinobu_Mono/*.tlb
Shinobu_Mono/*.tlh
Shinobu_Mono/*.bak
Shinobu_Mono/*.cache
Shinobu_Mono/*.ilk
Shinobu_Mono/*.log
Shinobu_Mono/*.dll
Shinobu_Mono/*.lib
Shinobu_Mono/*.sbr